@import "tailwindcss";

@layer utilities {
  .bg-grid-pattern {
    background-size: 40px 40px;
    background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    mask-image: radial-gradient(ellipse at center, black 40%, transparent 80%);
  }
}

.animate-pan-slow {
  animation: panBackground 60s linear infinite;
}

@keyframes panBackground {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}